---
type Props = {
  size: number;
};
const { size } = Astro.props;
---

<!-- <svg
  width={size}
  height={size}
  viewBox="0 0 40 40"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_102_15)">
    <rect width="40" height="40" rx="4" fill="#EF4444"></rect>
    <path
      d="M32 32L25.071 25.071M25.071 25.071C26.9463 23.1956 27.9999 20.6521 27.9999 18C27.9999 15.3478 26.9463 12.8043 25.071 10.9289C23.1956 9.05355 20.6521 8 18 8C15.3478 8 12.8043 9.05355 10.9289 10.9289C9.05355 12.8043 8 15.3478 8 18C8 20.6521 9.05355 23.1956 10.9289 25.071C12.8043 26.9463 15.3478 27.9999 18 27.9999C20.6521 27.9999 23.1956 26.9463 25.071 25.071Z"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </g>
  <defs>
    <clipPath id="clip0_102_15">
      <rect width="40" height="40" fill="white"></rect>
    </clipPath>
  </defs>
</svg> -->
<svg
  width={size}
  height={size}
  viewBox="0 0 1000 1000"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>logo</title>
  <rect x="100" y="100" width="800" height="800" rx="200" fill="#000"></rect>
  <path
    d="M706 706L587.052 587.052M587.052 587.052C619.245 554.858 637.331 511.194 637.331 465.666C637.331 420.137 619.245 376.473 587.052 344.28C554.858 312.086 511.194 294 465.666 294C420.137 294 376.473 312.086 344.28 344.28C312.086 376.473 294 420.137 294 465.666C294 511.194 312.086 554.858 344.28 587.052C376.473 619.245 420.137 637.331 465.666 637.331C511.194 637.331 554.858 619.245 587.052 587.052Z"
    stroke-width="50"
    stroke="#fff"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
</svg>

<!-- <svg
  class="logo"
  width={size}
  height={size}
  viewBox="0 0 256 256"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <style>
    #flame {
      fill: var(--theme-text-accent);
    }

    #a {
      fill: var(--theme-text-accent);
    }
  </style>
  <title>Logo</title>
  <path
    id="a"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M163.008 18.929c1.944 2.413 2.935 5.67 4.917 12.181l43.309 142.27a180.277 180.277 0 00-51.778-17.53l-28.198-95.29a3.67 3.67 0 00-7.042.01l-27.857 95.232a180.225 180.225 0 00-52.01 17.557l43.52-142.281c1.99-6.502 2.983-9.752 4.927-12.16a15.999 15.999 0 016.484-4.798c2.872-1.154 6.271-1.154 13.07-1.154h31.085c6.807 0 10.211 0 13.086 1.157a16.004 16.004 0 016.487 4.806z"
  >
  </path>
  <path
    id="flame"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M168.19 180.151c-7.139 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.961 10.367-1.961 13.902 0 0-1.056 17.355 11.015 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.974-19.87 5.976-3.79 12.616-8.001 17.192-16.449a31.024 31.024 0 003.743-14.82c0-3.299-.513-6.479-1.463-9.463z"
  >
  </path>
</svg> -->
